[Desktop Entry]
Name=gnftables
Name[zh_CN]=gnftables
Comment=gnftables firewall
Comment[zh_CN]=gnftables firewall
Exec=beesu - gnft %U
Terminal=false
Type=Application
Icon=gnftables
Categories=GNOME;GTK;Utility;
